@page "/access-denied"
<!--דף זה מוצג למשתמשים שמנסים לגשת לעמוד או פעולה שאין להם הרשאה אליהם-->
@inject ClassLibrary1.Services.LoginSession LoginSession


<h3 style="text-align: center; direction: rtl;">שגיאה בהרשאות</h3>

<p style="text-align: center; direction: rtl;">
    שלום, @LoginSession.Username
</p>

<p style="text-align: center; direction: rtl;">
    @{
        // בודק את התפקיד של המשתמש ומחזיר הודעה מותאמת
        string message = LoginSession.Role switch 
        {
            "User" => "כמשתמש אין לך גישה לדף זה.",
            _ => "אין לך גישה לדף זה."
        };
    }
    @message
</p>
